In [403]:
import pandas as pd

In [404]:
wallets = ["0xdd92062adf9f6edf528babe7f04804fe86424a74", "0xdf367477c5e596af88e8797c3cde8e28854cb79c", "0x1a4c1d3d766fa0f0c961a1c4da721a2a6bc5d920", "0xfa52387d626109c1b2c103ec85f8f8124a8d31b6", "0x4c0b801d56d7245ab67f0d7f4773456dd2c689dd", "0xf89ebfa55385f1aef401d5dc5ee761569e45874e", "0x7122db0ebe4eb9b434a9f2ffe6760bc03bfbd0e0", "0x5c6428181b9b34df8c1f2af7718f03cacc79d183", "0xbd2b92bf7b37e1e3e44b263b0901445485ee1578", "0xf708e1540697788fe5b02393398f80afc9b81783"]

In [405]:
wallets[0]

'0xdd92062adf9f6edf528babe7f04804fe86424a74'

In [406]:
new_data = pd.DataFrame()

In [407]:
import requests 
for i in (wallets):
    api = 'APH4CYHTAGXCF1M2GZ4UJJ433CEW3T6QTY'
    url = f'https://api.etherscan.io/api?module=account&action=balancemulti&address={i}&tag=latest&apikey={api}'
    response = requests.get(url)
    data = response.json()
    data = pd.DataFrame(data)
    new_data = pd.concat([new_data, data])

In [408]:
new_data["account"] = new_data["result"].apply(lambda x: x["account"])
new_data["balance"] = new_data["result"].apply(lambda x: x["balance"])

In [409]:
new_data["balance"] = new_data.balance.astype('float')

In [410]:
new_data.drop(columns=["result"], inplace=True)
new_data.sort_values(by=["balance"], ascending=False, inplace=True)

In [411]:
new_data

  status message                                     account       balance
0      1      OK  0xfa52387d626109c1b2c103ec85f8f8124a8d31b6  6.752866e+18
0      1      OK  0x1a4c1d3d766fa0f0c961a1c4da721a2a6bc5d920  1.235524e+17
0      1      OK  0x5c6428181b9b34df8c1f2af7718f03cacc79d183  1.024794e+17
0      1      OK  0xf89ebfa55385f1aef401d5dc5ee761569e45874e  5.006582e+15
0      1      OK  0x4c0b801d56d7245ab67f0d7f4773456dd2c689dd  4.338011e+15
0      1      OK  0xbd2b92bf7b37e1e3e44b263b0901445485ee1578  7.673479e+14
0      1      OK  0xdd92062adf9f6edf528babe7f04804fe86424a74  0.000000e+00
0      1      OK  0xdf367477c5e596af88e8797c3cde8e28854cb79c  0.000000e+00
0      1      OK  0x7122db0ebe4eb9b434a9f2ffe6760bc03bfbd0e0  0.000000e+00
0      1      OK  0xf708e1540697788fe5b02393398f80afc9b81783  0.000000e+00

In [412]:
new_data.sort_values(by=["balance"], ascending=False, inplace=True)